@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --sub-heading-at-the-top: hsl(276, 100%, 81%);
    --chat-on-the-left: hsl(276, 55%, 52%);
    --chat-on-the-right: hsl(271, 15%, 43%);
    --placeholder-text: hsl(206, 6%, 79%);
    --main-heading: hsl(271, 36%, 24%);
    --paragraph: hsl(270, 7%, 64%);
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);
    --white: hsl(0, 0%, 100%);
    --app-background: hsl(270, 20%, 96%);
    --submit-button-background: hsl(271, 36%, 24%);
    --radio-button-outline: hsl(289, 100%, 72%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

