@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --PaleViolet: hsl(276, 100%, 81%);
    /* (sub-heading at the top of the app UI) */
    --ModerateViolet: hsl(276, 55%, 52%);
    /* (chat on the left) */
    --DesaturatedDarkViolet: hsl(271, 15%, 43%);
    /* (chat on the right) */
    --GrayishBlue: hsl(206, 6%, 79%);
    /* (placeholder text) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /* (main heading) */
    --DarkGrayishViolet: hsl(270, 7%, 64%);
    /* (paragraph) */

    /* #### Gradients */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

    --LightMagenta: #e942ff;
    --LightViolet: #8838ff;

    /* ### Secondary */

    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 20%, 96%);
    /* (app background) */
    --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    /* (submit button background) */
    --VeryLightMagenta: hsl(289, 100%, 72%);
    /* (radio button outline) */
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    margin: 0;

}

main {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    transition: 150ms ease;
}

.gradient-panel {
    height: 39.7rem;
    width: 32rem;
    background: linear-gradient(19deg, rgba(136, 56, 255, 1) -1%, rgba(233, 66, 255, 1) 151%);
    position: absolute;
    z-index: -1;
    top: 0;
    left: -5.9rem;
    border-radius: 0 0 17rem 17rem;
}

.gradient-panel-light {
    transform: rotate(180deg);
    opacity: .05;
    height: 38.3rem;
    width: 32rem;
    background: var(--DarkGrayishViolet);
    position: absolute;
    right: -11.3rem;
    bottom: 0;
    border-radius: 0 0 17rem 17rem;
}

.panel-wrapper {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
}

.mobile {
    width: 15.4rem;
    height: auto;
    border-radius: 2rem;
    border: solid white .7rem;
    background: var(--LightGrayishViolet);

    -webkit-box-shadow: 0px 0px 106px -40px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 106px -40px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 106px -40px rgba(0, 0, 0, 0.75);

    margin-left: 6.1rem;
    min-width: 15.4rem;
}

.mobile_top-part {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 4.4rem;
    height: 4.2rem;
    overflow-y: hidden;

    background: linear-gradient(90deg, rgba(136, 56, 255, 1) 20%, rgba(233, 66, 255, 1) 90%);
    border-radius: 20px 20px 5px 5px;
}

.mobile_top-part_notch {
    background: var(--White);
    position: absolute;
    top: -0.65rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: .8rem;
    width: 8rem;
    height: 1.8rem;
}

.arrow {
    width: .8rem;
    margin-top: 6px;
}

.avatar {
    width: 1.5rem;
    border-radius: 100%;
    border: 1px solid white;
}

h2 {
    color: var(--White);
    font-size: .7rem;
    font-weight: 400;
    margin: 0;
}

small {
    font-size: .5rem;
    color: var(--PaleViolet);
    margin-top: 3px;
    display: block;
}

.dots {
    position: relative;
    top: -.8rem;
    width: 1rem;
    filter: invert(100%);
}

.mobile_bottom-part {
    padding: 0.1rem 0.4rem;
}

.message-received {
    width: 8rem;
    color: var(--ModerateViolet);
    background: #ede5f4;
    border-radius: .6rem .6rem .6rem .2rem;
    padding: .5rem;
    font-size: .5rem;
    line-height: 0.6rem;
}

.message-sent {
    background: white;
    border-radius: .6rem .6rem .2rem .6rem;
    padding: .5rem;
    font-size: .5rem;
    line-height: 0.6rem;

    max-width: 8rem;
    margin-bottom: 0.1rem;

    -webkit-box-shadow: 6px 6px 46px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 46px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 46px -15px rgba(0, 0, 0, 0.75);
}

.photos {
    display: flex;
    gap: .5rem;
    justify-content: flex-end;
    margin-top: 0.9rem;
}

.photos-sent {
    width: 2.5rem;
    border-radius: .7rem;
}

.walk-offer {
    background: linear-gradient(271deg, rgba(136, 56, 255, 1) 20%, rgba(233, 66, 255, 1) 90%);
    border-radius: .6rem .6rem .6rem .2rem;
    padding: .5rem;
    font-size: .5rem;
    margin-bottom: .5rem;
    color: #ffbeff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 10rem;
}

.walk-offer_text {
    margin: 0;
}

.circle {
    width: .75rem;
    height: .75rem;
    border-radius: 100%;
    border: solid 1px white;
    opacity: .3;
    margin-right: .5rem;
}

span {
    color: var(--White);
    font-size: .8rem;
    font-weight: 700;
    margin-right: 0.5rem;
}

.input {
    display: flex;
    background: var(--White);
    color: var(--GrayishBlue);
    font-size: .6rem;
    padding: 0.2rem 0.1rem 0.1rem 1.1rem;
    border-radius: 1rem;
    letter-spacing: -0.3px;
    align-items: center;
    margin-top: 1.2rem;
    justify-content: space-between;
}

.button {
    width: 1.5rem;
    height: 1.5rem;
    background: url(images/left-arrow.png) no-repeat center var(--VeryDarkDesaturatedViolet);
    transform: rotate(180deg);
    border-radius: 100%;
    background-size: 65%;
    margin-top: -0.2rem;
}

.text {
    width: 28rem;
    margin-top: -.6rem;
}

h1 {
    font-size: 2.5rem;
    color: var(--VeryDarkDesaturatedViolet);
    font-weight: 500;
}

.main-text {
    color: var(--DarkGrayishViolet);
    line-height: 1.7rem;
}

.flex {
    display: flex;
    gap: .4rem;
    position: relative;
    margin-left: 0.5rem;
    top: -0.4rem;
}

.flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.flex-row {
    display: flex;
    align-items: center;
}

/* Footer */
.attribution {
    left: 50%;
    transform: translateX(-30%);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (max-width:1000px) {
    main {
        flex-direction: column;
        gap: 4rem;
        padding: 2rem 0;
    }

    .mobile {
        margin: 0;
    }

    .mobile_bottom-part {
        padding-bottom: 0.5rem;
    }

    .text {
        text-align: center;
        padding: 0 1rem;
    }

    .gradient-panel {
        left: -20rem;
    }
}

@media (max-width: 500px) {
    .text {
        width: auto;
    }
}

::selection {
    background: rgba(233, 66, 255, .3);
}